<%- model_class = RelatorioAssistenteSocial -%>
<div class="page-header">
<h1>Relatórios de Assistência Social</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Motivo</th>
      <th>Entrevista</th>
      <td>Funcionário Responsável</td>
      <th>Data de Criação</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @relatorio_assistente_socials.each do |relatorio_assistente_social| %>
      <tr>
        <td><%= relatorio_assistente_social.ras_motivo %></td>
        <td><%= relatorio_assistente_social.ras_entrevista %></td>
        <td><%=relatorio_assistente_social.relatorio.funcionario.pessoa.pessoa_nome%></td>
        <td><%=l relatorio_assistente_social.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      relatorio_assistente_social_path(relatorio_assistente_social), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_relatorio_assistente_social_path(relatorio_assistente_social), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      relatorio_assistente_social_path(relatorio_assistente_social),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza??')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_relatorio_assistente_social_path,
            :class => 'btn btn-primary' %>
<p><%= paginate @relatorio_assistente_socials %>
