<%- model_class = Aluno -%>
<div class="page-header">
  <h1>Alunos</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>RA</th>
      <th>Curso</th>
      <th>Data de Ingresso</th>
      <th>Período</th>
      <th>Frequência</th>
      <th>Coeficiente</th>
      <th>Data de Criação</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td><%= link_to findAluno(aluno.id).pessoa.pessoa_nome, aluno_path(aluno) %></td>
        <td><%= aluno.aluno_ra %></td>
        <td><%= aluno.aluno_curso %></td>
        <td><%= aluno.aluno_data_ingresso %></td>
        <td><%= aluno.aluno_periodo %></td>
        <td><%= aluno.aluno_frequencia %></td>
        <td><%= aluno.aluno_coeficiente %></td>
        <td><%=l aluno.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      aluno_path(aluno), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_aluno_path(aluno), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      aluno_path(aluno),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza??')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_aluno_path,
            :class => 'btn btn-primary' %>
<p><%= paginate @alunos %>