<%= form_for @relatorio, :html => { :class => "form-horizontal relatorio" } do |f| %>

  <% if @relatorio.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Não foi possível realizar o cadastro do Relatório!</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @relatorio.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :relatorio_data, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :relatorio_data, :class => 'form-control' %>
    </div>
    <!--<%=f.error_span(:relatorio_data) %>-->
  </div>
  <div class="form-group">
    <%= f.label :aluno_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :aluno_id, :class => 'form-control' %>
    </div>
    <!--<%=f.error_span(:aluno_id) %>-->
  </div>
  <div class="form-group">
    <%= f.label :funcionario_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :funcionario_id, :class => 'form-control' %>
    </div>
    <!--<%=f.error_span(:funcionario_id) %>-->
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                relatorios_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
