<%= form_for @relatorio_assistente_social, :html => { :class => "form-horizontal relatorio_assistente_social" } do |f| %>

  <% if @relatorio_assistente_social.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Não foi possível realizar o cadastro do Relatório!</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @relatorio_assistente_social.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :ras_motivo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">

      <%= f.collection_select(:ras_motivo, Objetivo.all, :motivo, :motivo, {:prompt => 'Selecione o Motivo'})%>
      <%= f.text_field :ras_motivo, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ras_entrevista, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ras_entrevista, :class => 'form-control', :rows => 6  %>
    </div>
  </div>

  <%= f.fields_for :relatorio do |ff| %>
  <div class="form-group">
    <%= ff.label :relatorio_data, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= ff.text_field :relatorio_data, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= ff.label :aluno_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <%= ff.select :aluno_id, options_for_select(Aluno.all.map{|a|[a.pessoa.pessoa_nome, a.id]}), {:prompt => 'Selecione o aluno'}%>    
    </div>
  </div>
  <div class="form-group">
    <%= ff.label :funcionario_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
<%= ff.select :funcionario_id, options_for_select(Funcionario.all.map{|f|[f.pessoa.pessoa_nome, f.id]}), {:prompt => 'Selecione o Funcionário'}%>
      </div>
  </div>
<% end %>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                relatorio_assistente_socials_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
