<%- model_class = Pessoa -%>
<div class="page-header">
  <h1>Pessoas</h1>
  </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>CEP</th>
      <th>RG</th>
      <th>CPF</th>
      <th>Data de Criação</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pessoas.each do |pessoa| %>
      <tr>
        <td><%= pessoa.pessoa_nome %></td>
        <td><%= pessoa.pessoa_endereco %></td>
        <td><%= pessoa.pessoa_cidade %></td>
        <td><%= pessoa.pessoa_estado %></td>
        <td><%= pessoa.pessoa_cep %></td>
        <td><%= pessoa.documento.doc_cpf%></td>
        <td><%= pessoa.documento.doc_rg%></td>
        <td><%=l pessoa.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      pessoa_path(pessoa), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pessoa_path(pessoa), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pessoa_path(pessoa),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza??')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pessoa_path,
            :class => 'btn btn-primary' %>
<p><%= paginate @pessoas %>
