<% @pessoa = Pessoa.new %>
<%= form_for @pessoa, :html => { :class => "form-horizontal pessoa" } do |f| %>

  <% if @pessoa.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Não foi possível realizar o cadastro!</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pessoa.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :pessoa_nome, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :pessoa_nome, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pessoa_sexo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <%= f.select(:pessoa_sexo, [['Feminino', 'F'], ['Masculino', 'M']], {:prompt => 'Selecione o sexo'})%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pessoa_endereco, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :pessoa_endereco, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pessoa_cidade, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :pessoa_cidade, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pessoa_estado, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :pessoa_estado, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pessoa_cep, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :pessoa_cep, :class => 'form-control' %>
    </div>
  </div>
    
  <%= f.fields_for :documento do |ff| %>
  <div class="form-group">
    <%= ff.label :doc_rg, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= ff.text_field :doc_rg, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= ff.label :doc_cpf, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= ff.text_field :doc_cpf, :class => 'form-control' %>
    </div>
  </div>
  <%end%>

  <%= f.fields_for :user do |fff| %>
    <div class="form-group">
      <%= fff.label :email, :class => 'control-label col-lg-2' %>   
      <div class="col-lg-10">
          <%= fff.text_field :email, :class => 'form-control' %>
      </div>
    </div>
    
  <div class="field form-group">
    <%= fff.label :password, :class => 'control-label col-lg-2' %>   
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />    
    <div class="col-lg-10">
      <%= fff.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <div class="field form-group">
    <%= fff.label :password_confirmation, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= fff.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>
<%end%>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pessoas_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
