<%- model_class = RelatorioPedagogico -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:rpe_objetivo) %>:</strong></dt>
  <dd><%= @relatorio_pedagogico.rpe_objetivo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rpe_atendimento) %>:</strong></dt>
  <dd><%= @relatorio_pedagogico.rpe_atendimento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:relatorio_id) %>:</strong></dt>
  <dd><%= @relatorio_pedagogico.relatorio_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              relatorio_pedagogicos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_relatorio_pedagogico_path(@relatorio_pedagogico), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              relatorio_pedagogico_path(@relatorio_pedagogico),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza??')) },
              :class => 'btn btn-danger' %>
