<%- model_class = Funcionario -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:funcionario_area) %></th>
      <th><%= model_class.human_attribute_name(:funcionario_permissao) %></th>
      <th><%= model_class.human_attribute_name(:pessoa_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= link_to funcionario.id, funcionario_path(funcionario) %></td>
        <td><%= funcionario.funcionario_area %></td>
        <td><%= funcionario.funcionario_permissao %></td>
        <td><%= funcionario.pessoa_id %></td>
        <td><%=l funcionario.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      funcionario_path(funcionario), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_funcionario_path(funcionario), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      funcionario_path(funcionario),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_funcionario_path,
            :class => 'btn btn-primary' %>
