<%- model_class = Funcionario -%>
<div class="page-header">
  <h1>Informações</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:funcionario_rf) %>:</strong></dt>
  <dd><%= @funcionario.funcionario_rf %></dd>
  <dt><strong><%= model_class.human_attribute_name(:funcionario_area) %>:</strong></dt>
  <dd><%= @funcionario.funcionario_area %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pessoa_id) %>:</strong></dt>
  <dd><%= @funcionario.pessoa_id %></dd>
</dl>


<%= link_to t('.back', :default => t("helpers.links.back")),
              funcionarios_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_funcionario_path(@funcionario), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              funcionario_path(@funcionario),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza??')) },
              :class => 'btn btn-danger' %>
