<%= form_for @relatorio_geral, :html => { :class => "form-horizontal relatorio_geral" } do |f| %>

  <% if @relatorio_geral.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Não foi possível realizar o cadastro do Relatório!</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @relatorio_geral.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :rg_objetivo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:rg_objetivo, Objetivo.all, :motivo, :motivo, {:prompt => 'Selecione o Motivo'})%>
    </div>
    <!--<%=f.error_span(:rg_objetivo) %>-->
  </div>
  <div class="form-group">
    <%= f.label :rg_atendimento,  *', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :rg_atendimento, :class => 'form-control' %>
    </div>
    <!--<%=f.error_span(:rg_atendimento) %>-->
  </div>
  
  <%= f.fields_for :relatorio do |ff| %>
  <div class="form-group">
    <%= ff.label :relatorio_data, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= ff.date_field :relatorio_data, :class => 'form-control' %>
    </div>
    <!--<%=ff.error_span(:relatorio_data) %>-->
  </div>
  <div class="form-group">
    <%= ff.label :aluno_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <%= ff.select :aluno_id, options_for_select(Aluno.all.map{|a|[a.pessoa.pessoa_nome, a.id]}), {:prompt => 'Selecione o aluno'}%>
    </div>
    <!--<%=ff.error_span(:aluno_id) %>-->
  </div>
  <div class="form-group">
    <%= ff.label :funcionario_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    
    <%= ff.select :funcionario_id, options_for_select(Funcionario.all.map{|f|[f.pessoa.pessoa_nome, f.id]}), {:prompt => 'Selecione o Funcionário'}%>

    </div>
    <!--<%=ff.error_span(:funcionario_id) %>-->
  </div>
<% end %>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                relatorio_gerals_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
