<%- model_class = RelatorioGeral -%>
<div class="page-header">
  <h1>Informações</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:rg_objetivo) %>:</strong></dt>
  <dd><%= @relatorio_geral.rg_objetivo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rg_atendimento) %>:</strong></dt>
  <dd><%= @relatorio_geral.rg_atendimento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:relatorio_id) %>:</strong></dt>
  <dd><%= @relatorio_geral.relatorio_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              relatorio_gerals_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_relatorio_geral_path(@relatorio_geral), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              relatorio_geral_path(@relatorio_geral),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza??')) },
              :class => 'btn btn-danger' %>
