<%- model_class = RelatorioPsicologico -%>
<div class="page-header">
<h1>Informações</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:rp_objetivo) %>:</strong></dt>
  <dd><%= @relatorio_psicologico.rp_objetivo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rp_atendimento) %>:</strong></dt>
  <dd><%= @relatorio_psicologico.rp_atendimento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:relatorio_id) %>:</strong></dt>
  <dd><%= @relatorio_psicologico.relatorio_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              relatorio_psicologicos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_relatorio_psicologico_path(@relatorio_psicologico), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              relatorio_psicologico_path(@relatorio_psicologico),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza??')) },
              :class => 'btn btn-danger' %>
