<%= form_for @funcionario, :html => { :class => "form-horizontal funcionario" } do |f| %>

  <% if @funcionario.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Não foi possível realizar o cadastro!</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @funcionario.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :funcionario_rf, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :funcionario_rf, :class => 'form-control' %>
    </div>
    <!--<%=f.error_span(:funcionario_rf) %>-->
  </div>
  <div class="form-group">
    <%= f.label :funcionario_area, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <%= f.select(:funcionario_area, [['Psicólogo(a)', 'Psicólogo(a)'], ['Pedagogo(a)', 'Pedagogo(a)'], ['Assistente Social', 'Assistente Social']], {:prompt => 'Selecione a área'}) %>
    </div>
    <!--<%=f.error_span(:funcionario_area) %>-->
  </div>
  <div class="form-group">
  <%= f.label :pessoa_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
  <%= f.collection_select(:pessoa_id, Pessoa.all, :id, :pessoa_nome, {:prompt => 'Selecione a Pessoa'})%>  
  </div>
  <!--<%=f.error_span(:pessoa_id) %>-->
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                funcionarios_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
